*.class
run
release
indexer/target
dashboard-for-ontologies/target
!**/src/main/**/target/
!**/src/test/**/target/
/indexer/src/test/java/org/elasticsearch/plugin/
/indexer/src/main/java/org/elasticsearch/river/eea_rdf/settings/EEASettings.class
pom.xml.versionsBackup
pom.xml.releaseBackup
.classpath
.project

\.idea/
\IGNORE/
.idea/compiler.xml
.idea/misc.xml

*.db
/frontend/build/*

/certs
/DB
eea-rdf-river-indexer.iml
.env